extends layout
block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p
        | Loc8r was created to help people find places to sit down and get a bit of work done.
        | <br /><br />
        | Whether you're a digital nomad, a remote worker, or just someone looking for a quiet corner to focus, Loc8r connects you with the best locations nearby that offer wifi, comfortable seating, and a conducive environment for productivity. Our platform features user reviews, facility information, and real-time updates to ensure you always find the perfect spot to work on the go.
